.container
  .row
    .col-xs-8
      - for thing in @things
        = image_tag "http://placehold.it/750x420", class: "img-responsive"
        .pull-right
          = link_to 'Edit', edit_thing_path(thing), class: "btn btn-default"
        %h1= link_to thing.name.upcase, thing
        = raw markdown(thing.description.gsub("{url}", thing.homepage_url.to_s).gsub("{name}", thing.name.to_s))
        .row.meta-bar
          .col-xs-10= number_to_currency(thing.price, precision: 2, unit: "£", format: "%u%n")
          .col-xs-1= thing.category
          .col-xs-1= thing.sub_category
      = paginate @things