.container
  .jumbotron
    %h1 Manliest things ever
    %p Want to know what the MANLIEST NAME EVER IS? How about the MANLIEST BURGER? Or the MANLIEST BEER? Well you've come to the right place amigo. Prepare the be out-manned!
    %p
      %a.btn.btn-lg.btn-primary{href: "manly", role: "button"} MAN UP!

  .row
    .col-xs-8
      - for thing in @things
        = image_tag "http://placehold.it/750x420", class: "img-responsive"
        .pull-right
          = link_to 'Edit', edit_thing_path(thing), class: "btn btn-default"
        %h1= link_to thing.name.upcase, thing
        = raw markdown(thing.description.gsub("{url}", thing.homepage_url.to_s).gsub("{name}", thing.name.to_s))
        .row.meta-bar
          .col-xs-10= number_to_currency(thing.price, precision: 2, unit: "£", format: "%u%n")
          .col-xs-1= thing.category
          .col-xs-1= thing.sub_category
      = paginate @things